ul.unstyled, ol.unstyled {
    list-style: none;
    margin-left: 0;
}
ul.horizontal {
    list-style: none;
    margin: 0;
}
ul.horizontal li { float: left }

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.noSelect {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.noBorder, .noBorder img { border: 0 !important }

.left { float: left !important }

.right { float: right !important }

.clear { clear: both !important }

.alignLeft { text-align: left }

.alignCenter { text-align: center }

.alignRight { text-align: right }

.hideForViewer {
    position: absolute;
    left: -9999em;
    top: -9999em;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.relative { position: relative }

.absolute { position: absolute }

.lastInRow { clear: right !important; }

.hide { position: absolute; top: -9999px; left: -9999px; }


/* Sticky Footer */
html, body, #stickyWrap { height: 100% }

body > #stickyWrap {
    height: auto;
    min-height: 100%;
}

#stickyMain { padding-bottom: 313px }

.some_nowhitespace { nowhitespace: afterproperty }

/* padding-bottom needs  to be equal height of #footer  */

#footer {
    margin-top: -313px; /* Negativer Wert der Footer-Höhe */
    height: 313px;
}

