html,
body,
#stickyWrap { height: 100% }

body > #stickyWrap {
    height: auto;
    min-height: 100%;
}

#stickyMain { padding-bottom: 313px }

some_nowhitespace { nowhitespace: afterproperty }

/* padding-bottom needs  to be equal height of #footer  */

#footer {
    margin-top: -313px; /* Negativer Wert der Footer-Höhe */
    height: 313px;
}

