@charset "utf-8";
@import url('reset.css');
/* insert here other import Files */

/* This is my basic CSS, it use it on all of my Projects */
body { background: #fff; }
.wrapper { width: 980px; margin: 0 auto; }
.noSelect { -moz-user-select: -moz-none; -webkit-user-select: none; user-select: none; }
.rounded { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.noBorder,
.noBorder img {	border: 0 !important; }
.left { float: left !important; }
.right { float: right !important; }
.clear { clear: both !important; }
.alignLeft { text-align: left; }
.alignCenter { text-align: center; }
.alignRight { text-align: right; }
hr.clear { height: 0; margin: 0; visibility: hidden; }

/* Set-Up here your standard Classes */

/* Core CSS Selectors */
